# Entornos virtuales
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Logs
*.log

# Cookies y variables de entorno
.env
.flaskenv
